ALTER TABLE courses ADD COLUMN lecture_hours INT DEFAULT 0 AFTER credit_hours;
ALTER TABLE courses ADD COLUMN tutorial_hours INT DEFAULT 0 AFTER lecture_hours;
ALTER TABLE courses ADD COLUMN practical_hours INT DEFAULT 0 AFTER tutorial_hours;
ALTER TABLE courses ADD COLUMN contact_hours INT DEFAULT 0 AFTER practical_hours;
